name = "numeron"
compatibility_date = "2025-05-02"

[build]
command = "npm run build"
[build.upload]
format = "directory"
dir = "./dist"

[site]
bucket = "./dist"
entry-point = "functions"

[[plugins]]
name = "cloudflare-pages-functions"

[[kv_namespaces]]
binding = "GAME_KV"
id = "your_kv_namespace_id"   # 開発環境用のID (Dev)
preview_id = "your_preview_id" # preview 用 (wrangler dev 用)